@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



.typing-effect {
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden; /* Hides the text that overflows the container */
    border-right: 2px solid #ea580c; /* Creates the blinking cursor */
    width: 0; /* Initially hides the text */
    animation: typing 3s steps(15, end) forwards, blink-caret 0.75s step-end infinite;
}
@keyframes typing {
    from { width: 0; }
    to { width: 24rem; } /* Adjust this based on the length of your text */
}
@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #ea580c; } /* Cursor color */
}